<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/tx
       http://www.springframework.org/schema/tx/spring-tx-4.3.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context-4.3.xsd">

	<import resource="classpath:/SpringCommon.xml" />
	<import resource="classpath:/SpringDatasource.xml" />
	<!-- 使用jdbcTemplate的方式访问数据库 -->
	<import resource="classpath:/SpringJdbc.xml" />
	<import resource="classpath:/SpringAop.xml" />
	<import resource="classpath:/SpringCache.xml" />

	<context:component-scan base-package="com.simba.framework.websocket" />
	<context:component-scan base-package="com.simba.framework.util" />
	<context:component-scan base-package="com.simba.framework.session" />
	<context:component-scan base-package="com.simba.framework.distributed" />
	<context:component-scan base-package="com.simba.common" />
	<context:component-scan base-package="com.simba.uEditor" />
	<context:component-scan base-package="com.simba.aspect" />
	<context:component-scan base-package="com.simba.cache" />
	<context:component-scan base-package="com.simba.util" />
	<context:component-scan base-package="com.simba.page" />
	<context:component-scan base-package="com.simba.jobs" />
	<context:component-scan base-package="com.simba.cluster" />
</beans>